@font-face{
	font-family: 'MontserratThin';
	src: url('../fonts/Montserrat-Thin.otf');
}

body{
	background-color: #a5b;
}

body{
	font-family: 'MontserratThin';
   color: #FFF;
   width: 100% !important;
   padding: 0px;
   margin: 0px;
}


#header{
	height: 54px;
	width: calc( 100% - 20px);
	display: table;
	padding: 10px 0px 0px 20px;
}

#content{
	height: calc(100% - 128px);
	display: table;
	width: 100%;
}

.calculator {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.calculator input[type="text"]{
	width: 100%;
	border: none;
	border-bottom: 1px solid #000;
	outline: none;
	background: transparent;
	font-size: 25px;
	padding: 5px;
	font-family: MontserratThin;
	color: #FFF;
}

.calculator input[type="text"]:nth-child(1){
	margin-bottom: 10px;
}

.calculator .element-group{
	display: inline-block;
	width: 280px;
}

#footer{
	height: 64px;
	display: table;
	width: 100%;
}

#footer div{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

#footer div a {
	text-decoration: none;
	color: #FFF;
}

::-webkit-input-placeholder {
	color: #FFF;
	opacity: 0.9;
}

::-moz-placeholder {
	color: #FFF;
	opacity: 0.9;
}

:-ms-input-placeholder {
	color: #FFF;
	opacity: 0.9;
}

:-moz-placeholder {
	color: #FFF;
	opacity: 0.9;
}